@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #3C91E6;
    --secondary-color: #094074;
    --accent1-color: #A0CDF8;
    --accent2-color: #EBEBEB;

    --heading-font: "Exo";
    --paragraph-font: "Exo" sans-serif;
}

* {
    font-family: "Exo";
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #a1a1a1;
}

header {
    width: 100%;
    height: 150px;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 122px 250px 500px 1fr 1fr;
    align-items: center;
}

.logo-div {
    width: 250px;
    height: auto;
    cursor: pointer;
    grid-column: 2/ 3;
}

.logo {
    width: 200px;
    
}

nav {
    width: 500px;
    grid-column: 3;
}
#nav-menu {
    padding: 20px;
    text-decoration: none;
    color: #454545;
    font-family: "Exo", sans-serif;
    font-size:x-large;
    font-weight: 500;
    color: #fff;
}

.login-div {
    width: 180px;
    height: 50px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    grid-column: 5;
    justify-self: right;
    margin-right: 122px;
}
.login-btn {
    border: 0;
    padding: 0;
    background-color: #fff;
    font-family: "Exo";
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

main {
    width: 100%;
    max-height: 2160px;
    display: grid;
    grid-template-columns: 1fr 290px 816px 477px 1fr;
    grid-template-rows: 80px 816px 583px 441px 80px;
    grid-gap: 32px;
}

#main-divs {
    background-color: #fff;
    border-radius: 10px;
}

.side-menu {
    height: 662px;
    grid-column: 2/ 3;
    grid-row: 2/ 3;
}
#menus {
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
#menu-icon {
    width: 50px;
    height: 50px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-btn {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.menu-link {
    margin-left: 20px;
    color: #000;
    text-decoration: none;
    font-size: 20px;
}

.group-div {
    grid-column: 3/ 4;
    grid-row: 2/ 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, 210px);
    grid-template-rows: 60px 245px 245px;
    grid-gap: 50px;
    justify-content: center;
}
.group-header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    grid-column: 1/ 4;
}

#group-icon {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.group-div-tit {
    font-size: 30px;
}
.group-searchbar {
    width: 330px;
    height: 55px;
    background-color: #ececec;
    margin-left: 210px;
    border-radius: 10px;
}
.group-search-input {
    width: 280px;
    height: 55px;
    background-color: #ececec;
    border: 0;
    margin-left: 15px;
    outline: none;
    font-size: 20px;
}
.group-search-input::placeholder {
    font-size: 20px;
}
#group-searchicon {
    color: #3C91E6;
}

.group-content {
    width: 210px;
    height: 245px;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.group-img-div {
    width: 180px;
    height: 143px;
    background-color: #bdbdbd;
    border-radius: 10px;
    margin-top: 10px;
}
.group-name {
    font-size: 15px;
    margin-top: 13px;
}
.group-joinbtn {
    width: 80px;
    height: 26px;
    background-color: var(--accent1-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
    border-radius: 5px;
    cursor: pointer;
}
.group-join {
    text-decoration: none;
    color: #fff;
}

.group-morebtn {
    width: 120px;
    height: 55px;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    grid-column: 2/ 3;
}
.group-morebtn a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
}

.event-div {
    grid-column: 4/ 5;
    grid-row: 2/ 3;
}

.trade-div {
    grid-column: 2/ 5;
    grid-row: 3/ 4;
}

.carpool-div {
    grid-column: 2/ 5;
    grid-row: 4/ 5;
}

.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
}
  
.footer-basic ul {
    padding:0;
    list-style:none;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
    display: flex;
    justify-content: center;
}

.footer-basic li {
    padding:0 10px;
}

.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-basic ul a:hover {
    opacity:1;
}

.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}

.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}

.footer-basic .social > a:hover {
    opacity:0.9;
}

.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}
