<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/styles/group.css')}}">
    <title>Document</title>
</head>
<body>
    <header>
        <h1 id="logo-title">BYUi-Pals</h1>
        <nav id="nav">
            <a href="/">Home</a>
            <a href="group">Group</a>
            <a href="trade">Trade</a>
            <a href="carpool">Carpool</a>
        </nav>
    </header>
    <h1>Group</h1>

    <div class="groups-container">
        <h1> Add a Group</h1>
        <form>
            <label for="group-name">Group Name</label>
            <input type="text" placeholder="Group Name">
            <label for="group-description">Group Description</label>
            <input type="text" placeholder="Group Description">
            <button type="submit">Add Group</button>
        </form>
    </div>

    <div class="footer-basic">
        <footer>
            <div class="social">
                <a href="https://github.com/sungwooKang11/BYUI-Mate" target="_blank"><i class="icon ion-social-github"></i></a>
                <a href="#"><i class="icon ion-social-snapchat"></i></a>
                <a href="#"><i class="icon ion-social-twitter"></i></a>
                <a href="#"><i class="icon ion-social-facebook"></i></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                
            </ul>
            <p class="copyright">BYUI-Pals © 2024</p>
        </footer>
    </div>
</body>
</html>